@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;    
    font-family: "Roboto", sans-serif;    
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    position: fixed;
    top: 0;
    width: 99%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: 0 10px;
    color: #ccbd58;
    box-shadow:  0 4px 10px #ccbd58;
    z-index: 1;

}

.navbar .menu{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    list-style: none;
    
}

.navbar .menu li{
    margin-right: 5px;  
      
}

.navbar .menu li a {
    padding: 10px;
    border-radius: 5px;  
    transition: ease 0.5s; 
    font-weight: 600;
    color: #ccbd58;
}

.navbar .menu li a:hover {    
    background-color: rgba(204, 189, 88, 0.8);
    color:#fff;
}

.navbar .menu li a span{
    margin-right: 5px;    
}

.navbar .selectMode{
    width: 50px;
    height: 20px;
    line-height: 20px;    
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 40%;
    background-color: #e4e5e6;
    border: 2px solid #000;
    position:relative;
}

.navbar .selectMode .circle{
    content:'';
    position: absolute;
    left: 0;
    margin-left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #e4e5e6;
    cursor:pointer;
    transition: ease 0.2s;
}

.circle-active{
    content:'';
    position: absolute;
    right: 0 !important;
    margin-right: -5px !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #e4e5e6;
    cursor:pointer;
    transition: ease 0.2s;
}

.selectMode .day{
    color:#d6da05;
}

.selectMode .night{
    color:#18038f;
}

.inicio{
    width: 99%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.inicio h2{
    width: 70%;
    height: 90px;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;    
    padding: 20px 10px 0px 10px;
    color: #FFF;
    border-bottom: 2px solid #ccbd58;
    animation: glow 2s infinite alternate, fadeInDown 1s ease-in-out;
    margin-bottom: 10px;
}

.inicio p{
    margin-top: 20px;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    animation: myScale 1s ease-in-out;
}

.cocina{
    width: 100%;
    height: 100vh;
    /*background-color: #e4e5e6;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*margin-top: 60px;*/
    background-image: url('../img/bg-food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.alquimia{
    width: 100%;
    height: 100vh;
    /*background-color: #e4e5e6;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/bg-potions.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cocina h2,
.cocinadark-mode h2{
    margin-top: 22px;
    width: 100%;
    color: #ccbd58;
    height: 45px;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    
}


.alquimia h2,
.alquimiadark-mode h2{
    width: 100%;
    color: #ccbd58;
    height: 45px;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    
}

.contenedorRecetas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;
    gap: 10px; *//* Espacio entre los elementos */
    backdrop-filter: blur(20px);
}

.listado{
    width: 30%;
    height: 100%;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 29, 20, 0.8);
}

.listado ul{
    width: 90%;
    list-style: none;
    margin-top: 20px;
}

.listado ul li{
    font-weight: 700;
    padding: 15px 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    border: 2px solid #000;
    color: #ccbd58;
    border-radius: 10px;
    background-color: #271d14;
    cursor: pointer;
    transition: ease 0.5s;
}

.listado ul li:hover{
    border: 2px solid #ccbd58;
    text-shadow: 0 0 15px #ccbd58;
    box-shadow: 0px 0px 10px #ccbd58; 
}

.recetaSelecionada{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;    
}

.cocina .contenedorRecetas .receta,
.alquimia .contenedorRecetas .receta,
.cocinadark-mode .contenedorRecetas .receta,
.alquimiadark-mode .contenedorRecetas .receta{
    width: 80%;
    padding: 20px;
    background-color: #271d14;
    color: #ccbd58;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0px 0px 25px #3a3a3a;
    /*margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;*/
}




.cocina .contenedorRecetas .receta .titulo,
.alquimia .contenedorRecetas .receta .titulo,
.cocinadark-mode .contenedorRecetas .receta .titulo,
.alquimiadark-mode .contenedorRecetas .receta .titulo{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #ccbd58;
}

.cocina .contenedorRecetas .receta .materiales,
.alquimia .contenedorRecetas .receta .materiales,
.cocinadark-mode .contenedorRecetas .receta .materiales,
.alquimiadark-mode .contenedorRecetas .receta .materiales{
    padding: 15px;
}

.cocina .contenedorRecetas .receta .materiales p,
.alquimia .contenedorRecetas .receta .materiales p,
.cocinadark-mode .contenedorRecetas .receta .materiales p,
.alquimiadark-mode .contenedorRecetas .receta .materiales p{
    margin: 8px 0 15px 0;
}

.cocina .contenedorRecetas .receta .materiales ul,
.alquimia .contenedorRecetas .receta .materiales ul,
.cocinadark-mode .contenedorRecetas .receta .materiales ul,
.alquimiadark-mode .contenedorRecetas .receta .materiales ul{
    list-style: none;
}

.cocina .contenedorRecetas .receta .materiales ul p,
.alquimia .contenedorRecetas .receta .materiales ul p,
.cocinadark-mode .contenedorRecetas .receta .materiales ul p,
.alquimiadark-mode .contenedorRecetas .receta .materiales ul p{
    margin-top: 15px;
}

.cocina .contenedorRecetas .receta .materiales ul li,
.alquimia .contenedorRecetas .receta .materiales ul li,
.cocinadark-mode .contenedorRecetas .receta .materiales ul li,
.alquimiadark-mode .contenedorRecetas .receta .materiales ul li{
    margin-left: 15px;
    margin-bottom: 2px;
    color: #fff;
}

.calculadora{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ccbd58;
}

#contenedorCalculadora{
    width: 30%;
    height: 450px;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:2px solid #ccbd58;
    border-radius: 15px;
}

#contenedorCalculadora form{
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #271d14;
    border-radius: 15px;
}

#contenedorCalculadora form h2{
    font-size: 2rem;
}

#contenedorCalculadora form input, #contenedorCalculadora form button{
    color:#ccbd58;
    margin-bottom: 10px;
    user-select: none;  
}

#contenedorCalculadora form input{
    color:#ccbd58;
    margin-bottom: 10px;
    background-color: transparent;   
    border: none;    
    border-bottom: 1px solid #ccbd58;
}

#contenedorCalculadora form label{
    font-size: 1.2rem;
    font-weight: bold;
    color:#ccbd58;
    margin-top: 25px;
    margin-bottom: 10px;
}


#contenedorCalculadora form input{
    width: 60px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    line-height: 50px;
    
}

#contenedorCalculadora form #botonCalcularTiers{
    width: 25%;
    height: 45px;
    border: 1px solid #000;
    background-color: #000;
    color:#ccbd58;
    margin-top: 15px;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.2rem;
    border:1px solid #ccbd58;
    transition:all 0.3s ease-in-out;
    border-radius: 10px;
}


#contenedorCalculadora form #botonCalcularTiers:hover{
    text-shadow: 0 0 15px #ccbd58;
    box-shadow: 0px 0px 10px #ccbd58;    
}

.linea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.botoncito{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    border:1px solid #ccbd58;
    color: #ccbd58;
    transition:all 0.3s ease-in-out;
}

.botoncito:hover{
    box-shadow: 0px 0px 10px #ccbd58;
}


#resultado{
    width: 60%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
}


.macros{
    width: 100%;
    min-height: 100vh;
    /*background-color: #000;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#ccbd58;
    flex-direction: column;
    background-image: url('../img/bg-macros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedorMacros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;
    gap: 10px; *//* Espacio entre los elementos */
    border-radius: 10px;
    backdrop-filter: blur(20px);
    overflow: hidden;
}

.macros h2,
.macrosdark-mode h2{
    width: 99%;
    color: #ccbd58;
    background-color: #271d14;
    height: 45px;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
}

.listadoMacros{
    width: 90%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listadoMacros .unaMacro{
    width: 90%;
    padding: 20px;
    background-color: #271d14;
    color: #ccbd58;
    border-radius: 10px;
    border: 2px solid #ccbd58;
    box-shadow: 0px 0px 25px #3a3a3a;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
}

.listadoMacros .unaMacro:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
    background-color: rgba(39, 29, 20, 0.9);
}

.listadoMacros .unaMacro .descripcion{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccbd58;
}

.listadoMacros .unaMacro .codigo{
    color: #fff;
}

.comment{
    color: #ff0000;
    font-weight: 900;
}

.cocinadark-mode{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*margin-top: 45px;*/
    
}

.alquimiadark-mode{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;    
}

.listadodark-mode{
    /*width: 30%;
    height: 100%;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;*/
    background-color: #000 !important;
}

.macrosdark-mode{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;    
}





/* ANIMACIONES CSS */
@keyframes glow {
    0% { 
        text-shadow: 0 0 5px #d6da05, 0 0 10px #d6da05; 
    }
    100% { 
        text-shadow: 0 0 15px #fff; 
    }
}

@keyframes fadeInDown {
    0% { 
        opacity: 0; 
        transform: translateY(-150px); 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes myScale {
    0% { 
        opacity: 0; 
        transform: scale(0); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1); 
    }
}